.mapImage 
{
	height: 180px;
	width: 240px;
}

.boldLink 
{
	font-weight:bold;
	color: #333;
}

.mainColumn
{
	padding-top:25px;
}

#static_container header
{
	padding-top:25px;
	padding-bottom:25px;
	text-align:center;
}

#static_container header img
{
	width:100%;
	max-width:735px;
	height:auto;
}

#rsvp_container header
{
	padding-top:25px;
	text-align:center;
}

#rsvp_container header img
{
	width:100%;
	max-width:400px;
	height:auto;
}

body
{
	background: url('/img/pinkTile.jpg');
}
.container 
{
	background-color:white;
	padding:0px 15px 0px 15px;
}

#rsvpTopButton
{
	margin:10px auto 20px auto;
	width: 289px;
	cursor:pointer;
}

#rsvpBottomButton
{
	margin:10px auto 20px auto;
	width: 289px;
	cursor:pointer;
}


#rsvp_confirm
{
	padding-top:25px;
	text-align:center;
}

#rsvp_confirm button
{
	font-size:24px;
	width:100%; 
}

#rsvp_form
{
	margin-top:25px;
}

#rsvp_form a
{
	padding-left:15px;
}

#rsvp_form .button
{
	font-size:13px;
}
#rsvp_form input, #rsvp_form textarea, #rsvp_form select
{
	width:100%;
}


/* Admin Styles */

#admin_mainWrap
{
	background-color:#FFFFFF;
}

#admin_mainTable
{
	width:100%;
	border:solid 1px #D0D0D0;
	border-spacing:0px;
}

#admin_mainTable td,#admin_mainTable th
{
	border:solid 1px #D0D0D0;
	border-spacing:0px;
	border-collapse:collapse;
}
